#card {
    background:#1d2c4f;
    border-radius:18px;
    border:1px solid rgba(255,255,255,0.05);
}

#card:hover{
    background:#22345e;
    border:1px solid #5ec8ff;
}

#cardTitle{
    color:#7fb9ff;
    font-size:14px;
    font-weight:600;
}

#cardValue{
    color:white;
    font-size:30px;
    font-weight:bold;
}

#cardSubtitle{
    color:rgba(255,255,255,.55);
    font-size:11px;
}

QProgressBar#cardProgress{
    border:none;
    background:rgba(255,255,255,.08);
    border-radius:4px;
    min-height:8px;
    max-height:8px;
}

QProgressBar#cardProgress::chunk{
    border-radius:4px;
    background:qlineargradient(
        x1:0,y1:0,
        x2:1,y2:0,
        stop:0 #4fc3f7,
        stop:1 #2979ff
    );
}
